:root{
    --loading-border: rgba(65, 32,155, 1)
}

h1{
    text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.animation{
    position: relative;
    /* border: 1px solid black; */
}